[Unit]
Description=A minimalistic mailing list
Documentation=https://git.bn4t.me/bn4t/verteilzentrum/src/branch/master/README.md
After=network.target
StartLimitBurst=5
StartLimitIntervalSec=10

[Service]
Type=simple
ExecStart=/usr/local/bin/verteilzentrum -config /etc/verteilzentrum/config.toml -datadir /var/lib/verteilzentrum/
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true
ProtectHome=true
ProtectSystem=true
ProtectKernelTunables=true
PrivateDevices=true
User=verteilzentrum
Group=verteilzentrum
RestartSec=1
TimeoutStartSec=1m
Restart=on-failure
NoNewPrivileges=true
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target